.m-t-md {
   margin-top: 20px;
}

.text-super {
   font-size: 90px;
}

.text-lg {
    font-size: 66px;
    font-weight: 600;
}

.text-md {
    font-size: 40px;
}

.text-sm {
    font-size: 26px;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.color-black {
   color: black;
}

.color-yellow {
   color: yellow;
}

.text-left {
   text-align: left;
}
